AuthType shibboleth
ShibRequestSetting requireSession 1
require valid-user
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
#For now, we comment out that we require our visitor be a student of stony brook university.
 require affiliation student@stonybrook.edu
 DirectoryIndex index.html
# RewriteCond %{HTTPS} !=on [NC]
# RewriteRule ^stocki(.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Uncomment to display php errors in the log
#  php_flag display_startup_errors on
#  php_flag display_errors on
#  php_flag html_errors on
#  php_flag log_errors on
#  php_value error_log PHP_errors.log
