 @font-face {
    font-family: "FuturaDemi";
    src: url(/fonts/FuturaPTDemi.otf);
}

body,
select {
    background-color: black;
    color: dimgray;
    font-family: "FuturaDemi";
}

section {
    display: flex;
}

* {
    padding: 0%;
}

section > *,
#gallery > * {
    margin: 1%;
}

select {
    flex-shrink: 0;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    background-color: #111;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0;
}

.text {
    font-family: "Helvetica";
    color: white;
}

#menu {
    height: 80%;
    top: 10%;
    width: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

#stage {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;
}

#nameBox {
    width: 40%;
    height: 10%;
    left: 5%;
    top: 5%;
    position: absolute;
    background-color: #222;
}

#nameText {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
}

#timeText {
    width: 100%;
    position: absolute;
    top: 65%;
    text-align: center;
    color: #808080;
}

#completedBox {
    width: 40%;
    height: 10%;
    left: 55%;
    top: 5%;
    position: absolute;
    background-color: #222;
}

#completedText {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
}

.greenText {
    color: #2cb674;
}

#gallery{				/* Rahul */
  width: 85%;
  height: 60%;
    overflow-y: scroll;
}

#gallery img{
  max-width: 20%;
  max-height: 10%;
}

#quizzes {
    width: 90%;
    height: 75%;
    left: 5%;
    top: 20%;
    position: absolute;
    background-color: #222;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1.5%;
}

::-webkit-scrollbar-track {
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
}

::-webkit-scrollbar-button {
    background-color: #777;
}

::-webkit-scrollbar-corner {
    background-color: black;
}

.quiz {
    width: 100%;
    height: 10%;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}

.quiz:hover {
    background-color: #333;
}

.quizIcon {
    width: 5.5%;
    height: 80%;
    top: 10%;
    left: .75%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
}

.quizIncompleteIcon,
#menu li {
    background-image: url(../arlib/viewjs/img/hex_check_gray.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.quizCompleteIcon,
#menu li.selected {
    background-image: url(../arlib/viewjs/img/hex_check_green.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.quizTitle {
    width: 90%;
    left: 7.5%;
    top: 19.0%;
    position: absolute;
    color: #ccc;
    overflow: hidden;
}

/*NEW STUFF*/

#menu li {
  padding-left: 40%;
}

#menu li.selected {		/* Tony */
    color: lightgreen;	/* Rahul */
}

section { height: 100% } /* Tony */
